<h1>Instructors#index</h1>
<p>Find me in app/views/instructors/index.html.erb</p>

<div class="container">
  <%= link_to "Add Instructor", new_instructor_path, class: "btn btn-secondary" %>
  <table class="table mt-4">
    <tr>
      <td>id</td>
      <td>firstname</td>
      <td>lastname</td>
      <td>gender</td>
      <td>email</td>
      <td>age</td>
      <td>phone number</td>
    </tr>
    <% @instructors.each do |instructor| %>
      <tr>
        <td><%= link_to instructor.id, instructor_path(instructor) %></td>
        <td><%= instructor.firstname %></td>
        <td><%= instructor.lastname %></td>
        <td><%= instructor.gender %></td>
        <td><%= instructor.email %></td>
        <td><%= instructor.age %></td>
        <td><%= instructor.phonenumber %></td>
        <td>
          <%= link_to "Edit", edit_instructor_path(instructor), class: "btn btn-warning" %>

          <%= link_to "Delete", instructor_path(instructor), method: "DELETE", data:{ confirm: "Confirm?"}, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </table>
</div>