<h1>Instructors#show</h1>
<p>Find me in app/views/instructors/show.html.erb</p>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3><%= @instructor.firstname %> <%= @instructor.lastname %></h3>
      <h3><%= @instructor.gender %></h3>
      <h3><%= @instructor.email %></h3>
      <h3><%= @instructor.age %></h3>
      <h3><%= @instructor.phonenumber %></h3>
    </div>
    <div class="col-md-6">
    <%= link_to "Add Course", new_instructor_course_path(@instructor), class: "btn btn-secondary" %>
      <table class="table mt-4">
        <tr>
          <td>id</td>
          <td>course name</td>
        </tr>
        <% @instructor.courses.each do |course| %>
          <tr>
            <td><%= link_to course.id, course_path(course.id) %></td>
            <td><%= course.name %></td>
            <td>
              <%= link_to "Edit", edit_instructor_course_path(@instructor, course), class: "btn btn-warning" %>

              <%= link_to "Delete", instructor_course_path(@instructor, course), method: "DELETE", data:{ confirm: "Confirm?"}, class: "btn btn-danger" %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>